/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */
/* Changes the colour of the Top Navigation Bar */
.bg-info {
  background-color: #cb997e !important;
}

/* Changes the colour of Application Name */
.navbar-light .navbar-brand {
  color: #7f5539;
}

/* Left Primary "Sign-Up" Button */
.btn-primary {
  color: #9c6644;
  background-color: #ffe8d6;
  border-color: black;
}

/* Right Secondary "Randomize" Button */
.btn-outline-secondary {
  color: #8a431d;
  background-color: #e6ccb2;
  border-color: black;
}

/* Changes the colour of the left button when hovered */
.btn-primary:hover {
  color: #fff;
  background-color: #9e5a35;
}

/* Changes the colour of the right button when hovered */
.btn-outline-secondary:hover {
  color: rgb(0, 0, 0);
  background-color: #dba35a;
}

/* Changes the colour of the entire body of the page */
body {
  background-color: #ddb892;
}

/* This is the font for the navbar Brand Name */
.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 2.75rem;
}


.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
